<?xml version="1.0"?>
<model>
  <name>arena_ground</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>AutoStack Challenge</name>
    <email>fathir@todo.todo</email>
  </author>
  <description>AutoStack Challenge Arena Ground Banner (3.5m x 2.8m)</description>
</model>
